# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
.venv/

# Modèles entraînés et checkpoints
*.pth
*.pt
*.ckpt

# Données téléchargées (datasets)
data/
*.csv

# Jupyter
.ipynb_checkpoints/

# OS / éditeurs
.DS_Store
.vscode/
.idea/
*.swp
